{% extends "admin/base_site.html" %}
{% load static %}
 
<!-- custom filter module -->


{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div style="display: flex; flex-direction: row; align-items: center;">
    <img height="100px" src={% static "img/logo.png" %} />
    {% if request.user.is_authenticated and request.user.is_admin %}
    <h1 id="site-name" style="font-family:Roboto; font-size: 30px; padding-left: 20px; font-weight: bold;"><a href="{% url 'admin:index' %}">HospitalistAI Admin</a></h1>
    {% endif %}
</div>
{% endblock %}

{% block nav-global %}{% endblock %}

{% comment %}
{% block userlinks %}
    <a href="{{ request|switch_i18n:'en' }}">
        <img class="i18n_flag" src="{% static 'img/us.gif' %}"/>
    </a> /
    <a href="{{ request|switch_i18n:'fr' }}">
        <img class="i18n_flag" src="{% static 'img/fr.gif' %}"/>
    </a> /
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>

{% endblock %} {% endcomment %}
{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        .required label, label.required::before  {
            content: "* ";
            color: red;
            font-size: 18px;    
        }
    </style>
{% endblock %}
