{%extends "admin/base_site.html"%}

{% block extrastyle %}
{{ block.super }}

<style>
.graphBox {
    max-width: 100%;
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    max-height: 100%;
    }
    .graphBox .box {
    position: relative;
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-height: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    }
    
  @media (max-width: 1184px) {
    .graphBox {
      grid-template-columns: 1fr;
      height: auto;
    }

  }
.head-title {
    font-size: 30px;
    color: rgb(6, 30, 61);
    text-align: center;
}
.row {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .card {
    box-shadow: 0  2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
  }
  .mod-card {
    box-shadow: 4px  4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 16px;
    cursor: pointer;
    color: #333;
    width: 400px;
    max-width: 100%;
    margin: 0 5px 10px;
    opacity: 0.9;
    text-align: center;
  }
  .mod-card:hover{
    border:1px solid #0275d8;
    opacity: 1;
    box-shadow: 7px  7px 7px 7px rgba(0, 0, 0, 0.2);
  }

@media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
    .mod-card {
      width: 100%;
    }
}
.count{
    margin-bottom: -8px;
    margin-top: -5px;
}

</style>

{% endblock %}

{% block content %}
{{ block.super }}

<h1 class="head-title">Dashboard</h1>

<div class="row">
    <div onclick="location.href='{{link}}{% url 'admin:index' %}accounts/user/?is_admin__exact=1'" id="card-declined" class="mod-card important">
        <div class="card-content">
            <svg style=" margin-bottom: -18px; color: #0275d8;" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
          <h4 style="color: #0275d8;">Total Admin</h4>
          <div class="count"> {{ total_admins }}</div>
        </div>
    </div>
    <div onclick="location.href='{{link}}{% url 'admin:index' %}accounts/user/?is_admin__exact=0'" id="card-declined" class="mod-card important">
        <svg style="margin-bottom: -10px; color: #0275d8;" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
          </svg>
        <div class="card-content">
          <h4 style="color: #0275d8;">Total Users</h4>
          <div class="count">{{ total_users }}</div>
        </div>
    </div>
    <div onclick="location.href='{{link}}{% url 'admin:index' %}accounts/user/?is_active__exact=1'" id="card-declined" class="mod-card important">
        <svg style="margin-bottom: -10px; color: #0275d8;" xmlns="http://www.w3.org/2000/svg" width="35" height="35" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-disc" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 4a4 4 0 0 0-4 4 .5.5 0 0 1-1 0 5 5 0 0 1 5-5 .5.5 0 0 1 0 1zm4.5 3.5a.5.5 0 0 1 .5.5 5 5 0 0 1-5 5 .5.5 0 0 1 0-1 4 4 0 0 0 4-4 .5.5 0 0 1 .5-.5z"/>
          </svg>
        <div class="card-content">
          <h4 style="color: #0275d8;">Accounts Activated</h4>
          <div class="count">{{ active_accounts }}</div>
        </div>
    </div>
    <div onclick="location.href='{{link}}{% url 'admin:index' %}accounts/user/?is_active__exact=0'" id="card-declined" class="mod-card important">
          <svg style="margin-bottom: -10px; color: #0275d8;" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-journal-x" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
          </svg>
        <div class="card-content">
          <h4 style="color: #0275d8;">Accounts Not Activated</h4>
          <div class="count">{{ inactive_accounts }}</div>
        </div>
    </div>
    
</div>
<div> 
</div>
<div class="graphBox">
  <div class="box">
    <canvas id="firstChart"></canvas>
  </div>
  <div class="box">
    <canvas id="secondChart"></canvas>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const firstChart = document.getElementById('firstChart');

    new Chart(firstChart, {
        type: 'polarArea',
        data: {
            labels: [{% for label in chart_labels %}'{{ label }}',{% endfor %}],
            datasets: [{
                label: 'Sales',
                data: [{% for d in chart_data %}{{ d }}, {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    
    const secondChart = document.getElementById('secondChart');

    new Chart(secondChart, {
      type: 'bar',
      data: {
        labels: [{% for label in chart_labels %}'{{ label }}',{% endfor %}],
      datasets: [{
        label: 'Maximun',
        data: [{% for d in chart_data %}{{ d }}, {% endfor %}],
      backgroundColor: [
      'rgba(255, 99, 132, 1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(255, 159, 64, 1)'
    ],
      borderColor: [
      'rgba(255, 99, 132, 1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(255, 159, 64, 1)'
    ],
      borderWidth: 1
          }]
        },
      options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
      });

</script>

{% endblock %}